@model FaisalLearningProjectMVC.Models.Customer

@{
    ViewData["Title"] = "Edit Customer";
}

<div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <!-- ABOUT US SECTION TITLE-->
            <div class="section_title">
                <h2>@Model.ContactName</h2>
            </div>
        </div>
    </div>
</div>

<form asp-action="Edit" class="edit-add-form">
    <div class="container edit-add-div">
        <div class="edit-add-subdiv">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="IsActive" />

            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label asp-for="ContactName" class="control-label control-label-custom"></label>
                    <input asp-for="ContactName" class="form-control-custom" />
                    <span asp-validation-for="ContactName" class="text-danger"></span>
                </div>
                <div class="col-md-3 mb-3">
                    <label asp-for="CompanyName" class="control-label control-label-custom"></label>
                    <input asp-for="CompanyName" class="form-control-custom" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                <div class="col-md-3 mb-3">
                    <label asp-for="ContactTitle" class="control-label control-label-custom"></label>
                    <input asp-for="ContactTitle" class="form-control-custom" />
                    <span asp-validation-for="ContactTitle" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-5 mb-3">
                    <label asp-for="Address" class="control-label control-label-custom "></label>
                    <input asp-for="Address" class="form-control-custom" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="col-md-3 mb-3">
                    <label asp-for="Country" class="control-label control-label-custom "></label>
                    <input asp-for="Country" class="form-control-custom" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="col-md-3 mb-3">
                    <label asp-for="City" class="control-label control-label-custom "></label>
                    <input asp-for="City" class="form-control-custom" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label asp-for="Region" class="control-label control-label-custom "></label>
                    <input asp-for="Region" class="form-control-custom" />
                    <span asp-validation-for="Region" class="text-danger"></span>
                </div>
                <div class="col-md-2 mb-3">
                    <label asp-for="PostalCode" class="control-label control-label-custom "></label>
                    <input asp-for="PostalCode" class="form-control-custom" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                <div class="col-md-2 mb-3">
                    <label asp-for="Phone" class="control-label control-label-custom "></label>
                    <input asp-for="Phone" class="form-control-custom" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="edit-add-button-div">
        <div class="sub-edit-add-button-div">
            <button class="btn btn-custom" type="submit">Save</button>
            <a asp-action="Index" class="btn btn-custom">Back</a>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}