@model IEnumerable<FaisalLearningProjectMVC.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div id="example-table"></div>

@section scripts
{
    <script>
      

        $("#example-table").tabulator({
            columns: [
                { title: "Company Name", field: "CompanyName", sorter: "string", width: 200, editor: true },
                { title: "Contact Name", ContactTitle: "ContactName", sorter: "string", cellClick: function (e, cell) { console.log("cell click") }, },
                { title: "Contact Title", field: "ContactTitle", sorter: "string" },
            ],
        });

    </script>
}