@model IEnumerable<FaisalLearningProjectMVC.Models.Order>

@{
    ViewData["Title"] = "Orders";
}

<div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <!-- ABOUT US SECTION TITLE-->
            <div class="section_title_index">
                <h2>Orders</h2>
            </div>
        </div>
    </div>
</div>

<p></p>

<div class="text-right table-header">
    <a asp-action="Create" class="index-create-btn"><img src="~/images/add.png" class="index-buttons-topright-row" title="Add Customer" /></a>
    <a asp-action="DownloadExcelTableDocument" id="download-excel"><img src="~/images/ExcelImage.png" title="Download Excel" /> </a>
    <a asp-action="DownloadWordTableDocument" id="download-word"><img src="~/images/WordDocumentImage.png" title="Download Word" /> </a>
    <a asp-action="DownloadPowerpointTableDocument" id="download-powerpoint"><img src="~/images/PowerPointImage.png" title="Download Powerpoint" /> </a>
    <a id="download-pdf" class="pointer"><img src="~/images/pdf.png" class="index-pdf-btn" title="Download PDF" /> </a>
</div>

<div id="example-table"></div>

@section scripts
    {
    <script>
        $(document).ready(function () {

            //custom icon formatter
            var DeleteIcon = function (cell, formatterParams) { //plain text value
                return "<i class='fa fa-trash'></i>";
            };
            var EditIcon = function (cell, formatterParams) { //plain text value
                return "<i class='fa fa-edit'></i>";
            };
            var ShowIcon = function (cell, formatterParams) { //plain text value
                return "<i class='fa fa-search'></i>";
            };

            var table = null;

            $.get("Orders/GetOrdersJsonData", function (data, status) {
                 table = new Tabulator("#example-table", {
                    data: data,
                    pagination: "local",
                    paginationSize: 14,
                    layout: "fitColumns",
                    columns: [
                        {
                            title: "", field: "icon", align: "center", width: 30, headerSort: false, formatter: ShowIcon, cellClick:
                                function (e, cell) {
                                    var rowData = cell.getRow().getData();
                                    window.location.href = '@Url.Action("Details", "Orders")/' + rowData.id;
                                }
                        },
                        {
                            title: "", field: "icon", align: "center", width: 30, headerSort: false, formatter: EditIcon, cellClick:
                                function (e, cell) {
                                    var rowData = cell.getRow().getData();
                                    window.location.href = '@Url.Action("Edit", "Orders")/' + rowData.id;
                                }
                        },
                        {
                            title: "", field: "icon", align: "center", width: 30, headerSort: false, formatter: DeleteIcon, cellClick:
                                function (e, cell) {
                                    cell.getRow().delete();

                                    var rowData = cell.getRow().getData();
                                    $.ajax({
                                        url: '/Orders/SoftDelete/' + rowData.id,
                                        type: 'POST',
                                        contentType: 'application/json; charset=utf-8',
                                        dataType: 'json',

                                    });
                                }
                        },
                        { title: "ID", field: "id", width: 50, visible: false },
                        { title: "Full Name", field: "contactName", sorter: "string", width: 200 },
                        { title: "Company", field: "companyName", sorter: "string", width: 200 },
                        { title: "Job Title", field: "contactTitle", sorter: "string", width: 200 },
                        { title: "Address", field: "address", sorter: "string", width: 200 },
                        { title: "City", field: "city", sorter: "string", width: 100 },
                        { title: "", field: "", width: 118, headerSort: false },
                    ],
                });

                //Set initial page to start at the first page
                table.setPage(1);
            });

            //download of data pdf file
            $("#download-pdf").click(function () {

                // get date
                var d = new Date($.now());
                var month  = d.getMonth();
                var day = d.getDate();

                // create date time format for file name
                var datetime = ((day < 10 ? "0" : "") + day + "_" + (month < 10 ? "0" : "") + (month + 1) + "_" + d.getFullYear() + " " + d.getHours() + "_" + d.getMinutes() + "_" + d.getSeconds());

                table.download("pdf", "Orders " + datetime + ".pdf", {
                    orientation:"portrait", //set page orientation to portrait
                    title:"Orders", //add title to report
                });
            });
        });
    </script>
}
