@model FaisalLearningProjectMVC.Models.ContactModel

@{
    ViewData["Title"] = "Contact";
}

<div class="contact page" id="CONTACT">
    <div class="section_overlay">
        <div class="container">
            <div class="col-md-10 col-md-offset-1 wow bounceIn">
                <!-- Start Contact Section Title-->
                <div class="section_title">
                    <h2>Get in touch</h2>
                    <p>Here to provide you with more information, answer any questions you may have and create and effective solution for your needs.</p>
                </div>
            </div>
        </div>

        <div class="contact_form wow bounceIn">
            <div class="container">
                <div class="Sucess"></div>
                <!-- END ERROR AND SUCCESS MESSAGE -->
                <!-- FORM -->
                <form asp-action="Contact">
                    @*<div asp-validation-summary="All" class="error"></div>*@
                    <div class="row">
                        <div class="col-md-4">
                            <input asp-for="Name" class="form-control" id="name" placeholder="Name" />
                            <span asp-validation-for="Name" class="error"></span>
                            <input asp-for="Email" class="form-control" id="email" placeholder="Email">
                            <span asp-validation-for="Email" class="error"></span>
                            <input asp-for="Subject" class="form-control" id="subject" placeholder="Subject">
                        </div>

                        <div class="col-md-8">
                            <textarea asp-for="Message" class="form-control" id="message" rows="25" cols="10" placeholder="  Message Texts..."></textarea>
                            <span asp-validation-for="Message" class="error"></span>
                            <input type="submit" value="Send" class="btn btn-default submit-btn form_submit" />
                        </div>
                    </div>
                </form>
                <!-- END FORM -->
            </div>
        </div>

        <footer>
            <div class="center">
                <div id="social-test">
                    <ul class="social">
                        <li><a href="https://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.youtube.com"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                        <li><a href="https://github.com"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>

    </div>
</div>
<!-- END CONTACT -->
