@model FaisalLearningProjectMVC.Models.ContactModel

@{
    ViewData["Title"] = "Contact";
}

<div class="contact page" id="CONTACT">
    <div class="section_overlay">
        <div class="container">
            <div class="col-md-10 col-md-offset-1 wow bounceIn">
                <!-- Start Contact Section Title-->
                <div class="section_title">
                    <h2>Get in touch</h2>
                    <p>Faisal Saleem is here to provide you with more information, answer any questions you may have and create and effective solution for your needs. We would love to hear from you.</p>
                </div>
            </div>
        </div>

        <div class="contact_form wow bounceIn">
            <div class="container">
                <div class="Sucess"></div>
                <!-- END ERROR AND SUCCESS MESSAGE -->
                <!-- FORM -->
                <form asp-action="Contact">
                    @*<div asp-validation-summary="All" class="error"></div>*@
                    <div class="row">
                        <div class="col-md-4">
                            <input asp-for="Name" class="form-control" id="name" placeholder="Name" />
                            <span asp-validation-for="Name" class="error"></span>
                            <input asp-for="Email" class="form-control" id="email" placeholder="Email">
                            <span asp-validation-for="Email" class="error"></span>
                            <input asp-for="Subject" class="form-control" id="subject" placeholder="Subject">
                        </div>

                        <div class="col-md-8">
                            <textarea asp-for="Message" class="form-control" id="message" rows="25" cols="10" placeholder="  Message Texts..."></textarea>
                            <span asp-validation-for="Message" class="error"></span>
                            <input type="submit" value="Send" class="btn btn-default submit-btn form_submit" />
                        </div>
                    </div>
                </form>
                <!-- END FORM -->
            </div>
        </div>

        <footer class="container">
            <div class="row">
                <div class="col-md-12 wow bounceIn">
                    <div class="social_icons">
                        <div id="social-platforms social-button">
                            <a class="btn btn-icon btn-facebook " href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                            <a class="btn btn-icon btn-twitter" href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                            <a class="btn btn-icon btn-googleplus" href="#"><i class="fa fa-google-plus"></i><span>Google+</span></a>
                            <a class="btn btn-icon btn-pinterest" href="#"><i class="fa fa-pinterest"></i><span>Pinterest</span></a>
                            <a class="btn btn-icon btn-linkedin" href="#"><i class="fa fa-linkedin"></i><span>LinkedIn</span></a>
                        </div>

                    </div>
                </div>
            </div>
        </footer>

    </div>
</div>
<!-- END CONTACT -->
