@{
    ViewData["Title"] = "Home Page";
}

<div class="container page">
    <div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!-- ABOUT US SECTION TITLE-->
                <div class="section_title">
                    <h2>Home</h2>
                    <p>Our team of analysts, architects and engineers guides you through technical and functional feasibility to elaborate and validate product concept and prepare foundation for future design and development work.</p>
                </div>
            </div>

        </div>
    </div>
    <div class="inner_about_area">
        <div>
            <div class="row">
                <div class="col-md-6">
                    <div id="heading1" class="about_phone wow fadeInLeft hidden" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- PHONE -->
                        <img src="images/about_iphone.png" alt="">
                    </div>
                </div>
                <div id="heading2" class="col-md-6  wow fadeInRight hidden" data-wow-duration="1s" data-wow-delay=".5s">
                    <!-- TITLE -->
                    <div class="inner_about_title">
                        <h2>Why we are best <br> for you</h2>
                        <p>Manage, assign and acknowledge the tasks yourself. Receive daily progress reports.</p>
                    </div>
                    <div class="inner_about_desc">

                        <!-- SINGLE DESC -->
                        <div id="square1" hidden class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                            <!-- ICON -->
                            <div><i class="fa-li fa fa-check-square home-tick-img"></i></div>
                            <!-- HEADING DESCRIPTION -->
                            <h3></h3>
                            <p class="home-p">From Faisal Saleem's staff we assign an in-house developer's most suitable for your project. The developer's work exclusively for you.</p>
                        </div>
                        <!-- END SINGLE DESC -->
                        <!-- SINGLE DESC -->
                        <div id="square2" hidden class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1.5s">
                            <!-- ICON -->
                            <div><i class="fa-li fa fa-check-square home-tick-img"></i></div>
                            <!-- HEADING DESCRIPTION -->
                            <h3></h3>
                            <p class="home-p">We adapt to your needs. We offer: long-term or  short-term agreements, short notice periods, whatever works best for you.</p>
                        </div>
                        <!-- END SINGLE DESC -->
                        <!-- SINGLE DESC -->
                        <div id="square3" hidden class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                            <!-- ICON -->
                            <div><i class="fa-li fa fa-check-square home-tick-img"></i></div>
                            <!-- HEADING DESCRIPTION -->
                            <h3></h3>
                            <p class="home-p">Outsource on flexible, comfortable terms which guarantee IT cost decrease.</p>
                        </div>
                        <!-- END SINGLE DESC -->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="heading3" class="video_area hidden">
        <div>
            <div class="row">
                <div class="col-md-6 wow fadeInLeftBig">
                    <!-- VIDEO LEFT TITLE -->
                    <div class="video_title">
                        <h2>Best App <br>in the market</h2>
                        <p>Grow your business faster by building stronger customer relationships, and delivering projects on time, every time. Visual Studio provides a fast and modular platform for creating server apps that run on Windows, Linux, and macOS in which we use.</p>
                    </div>
                    <div class="video-button">
                        <!-- BUTTON -->
                        <a class="btn btn-primary btn-video" href="#FEATURES" role="button">Features</a>
                    </div>
                </div>
                <div class="col-md-6 wow fadeInRightBig">
                    <!-- VIDEO -->
                    <div class="video">
                        <iframe width="420" height="315" src="https://www.youtube.com/embed/Hg0tKNAQ1UQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <footer id="footer" hidden>
        <div class="center">
            <div id="social-test">
                <ul class="social">
                    <li><a href="https://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.youtube.com"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    <li><a href="https://github.com"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li><a href="https://uk.linkedin.com"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
@section scripts
    {
<script>
    $(document).ready(function () {
        $('#heading1').fadeIn(1).removeClass('hidden');
        $('#heading2').fadeIn(1).removeClass('hidden');
        $('#heading3').fadeIn(1).removeClass('hidden');
        $('#footer').fadeIn(1).removeClass('hidden');
        $('#square1').fadeIn(1000).removeClass('hidden');
        $('#square2').fadeIn(1000).removeClass('hidden');
        $('#square3').fadeIn(1000).removeClass('hidden');
    });
</script>
}