#example-table {
    background-color: #ccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

    /*Theme the header*/
    #example-table .tabulator-header {
        background-color: #333;
        color: #fff;
    }

        /*Allow column header names to wrap lines*/
        #example-table .tabulator-header .tabulator-col,
        #example-table .tabulator-header .tabulator-col-row-handle {
            white-space: normal;
        }

    /*Color the table rows*/
    #example-table .tabulator-tableHolder .tabulator-table .tabulator-row {
        color: #f1f1f1;
        background-color: #666;
    }

        /*Color even rows*/
        #example-table .tabulator-tableHolder .tabulator-table .tabulator-row:nth-child(even) {
            background-color: #444;
        }

.tabulator .tabulator-header {
    border-bottom: 1px solid #f49e0b !important;
}

.tabulator .tabulator-header .tabulator-col {
    background: #666 !important;
}

.tabulator .tabulator-footer .tabulator-page.active {
    color: #f39c12 !important;
}

.tabulator .tabulator-footer .tabulator-page {
    color: #e6e6e6 !important;
}

.tabulator .tabulator-footer {
    background-color: #666666 !important;
}

/*custom css by faisal saleem start section*/

.active{
    color:red;
}

/* navbar */
.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
/* Title */
.navbar-default .navbar-brand {
    color: #777;
}

    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus {
        color: #5E5E5E;
    }
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}

    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        color: #333;
    }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}

    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #DDD;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #CCC;
    }

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #333;
        }
}

.myNavBar {
    margin-top: 0px !important;
    opacity: 1 !important;
    background-color: rgba(59, 59, 59, 0.7) !important;
}

.myLogo {
    height: 35px !important;
    padding-top: 0px !important;
    color: #B5B5B5 !important;
}

.navLink {
    font-family: 'Raleway', sans-serif !important;
    padding-top: 15px !important;
}


.test {
    background-image: url('/images/subscribeCopy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


/*custom css by faisal saleem end section*/ 

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/* Header of show table  */

.table-header {
    background-color: #444;
    padding: 5px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 2px solid #aaa;
}
