@model FaisalLearningProjectMVC.Models.AccountModels.Login

@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 auth-left">
            <div class="row auth-form mb-4">
                <div class="col-12 col-sm-12">
                    <div class="auth-text-top mb-4">
                        <h1>Welcome</h1>
                        <small>Please login to your account</small>
                    </div>
                    <form asp-action="Login" style="padding-top: 20px;">
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <div class="input-icon">
                                <i class="mdi mdi-email"></i>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" autofocus required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <div class="input-icon">
                                <i class="mdi mdi-lock"></i>
                                <span class="passtoggle mdi mdi-eye toggle-password"></span>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Enter Your Password" required>
                            </div>
                        </div>
                        <div class="d-flex form-check">
                            <input type="checkbox" class="filter" id="remember" checked>
                            <label for="remember">Remember me</label>
                            <a href="reset_password.html" class="ml-auto font-s">Forgot Password?</a>
                        </div>
                        <button class="btn btn-primary btn-block btn-c mt-4 mb-4">Login</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-8" style="background:#f39c12;">
            <h3 class="heading3" style="margin-top: 210px;text-align: center;">Welcome to Faisal's Business</h3>
        </div>
        <div class="col-lg-8 auth-right d-lg-flex d-none bg-gradient" style="height: 448px" id="particles">
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}
